* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.headerItems {
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
}

.headerItem {
    /* border: 2px solid black; */
    padding: 10px;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    cursor: pointer;
}

.headerItems .activeItem {
    border-bottom: 2px solid #3b87f8;
}

.contentBox {
    min-height: 520px;
    padding: 50px;
    text-align: left;
}

.contentBox .saveBtn {
    margin: 10px 40px;
}

.addOns {
    width: max-content;
    margin-left: 30px;
}

.addOns .addOnsBtn {
    margin: 10px ;
}

