.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 40px;
    text-align: left;
}

.col {
    display: flex;
    gap: 20px;
}

.colDiv {
    width: 45%;
}