*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bodySection{
    padding: 30px;
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    padding-top: 0;
}

.bodyHeader{
    padding: 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.textContent{
    padding: 10px;
    text-align: left;
    width: 70%;
}

.dwldIcon{
    padding-bottom: 2px;
}

.editorBox{
    width: 90%;
    min-height: 450px;
    padding: 10px;
    background-color:  rgb(238, 252, 255);
}

.resumeBox{
    width: 90%;
    min-height: 900px;
    padding: 10px;
    border: 1px solid black;
}