@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi:wght@400;500;600&display=swap');

* {
    font-family: 'Noto Serif Vithkuqi', serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 40px;
}

.basicInfoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullName {
    font-weight: 500;
    font-size: 1.9em;
}

.phoneCity,
.basicInfoLinks,
.cgpaDate,
.skillsBox,
.projectContent {
    display: flex;
}

.disc {
    margin-top: 7.5px;
}

.phone,
.city,
.email,
.linkedin,
.github,
.portfolio {
    margin: 0 5px;
}


a:link,
a:visited {
    text-decoration: none;
    font-weight: 400;
}

.objectiveSection,
.educationSection,
.skillsSection,
.achievementsSection,
.workExpSection,
.projectSection,
.porSection,
.othersSection {
    margin: 10px 0;
}

.header {
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: black;
}

.sectionContent {
    margin-top: 8px;
}

.box,
.roleDate,
.companyLocation {
    display: flex;
    justify-content: space-between;
}

.courseSub {
    display: flex;
    font-weight: 500;
    font-size: 1.05em;
}

.specialization{
    font-size: 0.9em;
}

.skillsHeader {
    font-weight: 500;
    width: 150px;
}

.projectHeader,
.porHeader,
.role {
    font-weight: 500;
}

.workExpBox {
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}